.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--large-text);
    background-color: var(--light-color);
    border-bottom: 3px solid var(--dark-color);
    margin-bottom: 1em;
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: Logo-spin infinite 10s linear;
  }
}
