.Container-Box {
    border: 2px solid var(--semi-light-color);
    border-bottom: 2em solid var(--semi-light-color);
    background-color: var(--light-color);
    padding: 3em;
    border-radius: 2em;
}

.button{
    background-color: var(--light-color);
    border-radius: 40px;
}

.button:hover{
    opacity: 80%;
}

.button:active{
    opacity: 50%;
}
